body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('https://img.freepik.com/free-photo/workshop-with-clothes-sewing-machine_23-2148875333.jpg?t=st=1714568715~exp=1714572315~hmac=52bf530c464f8aaa6c2d1460e10fd9dc6468671fa6c485b4a4542d2734561102&w=1380'); */
    background-image: url('https://img.freepik.com/premium-photo/workshop-with-clothes-sewing-machine-high-quality-beautiful-photo-concept_1149265-38869.jpg?w=1060');
    background-blend-mode:darken;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(141, 140, 140, 0.7);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: scroll;
  }
  /* CSS for plain background after image ends */
  body {
    background-color: #f9f9f9; /* Change to your desired background color */
  }
  
  header {
    /* background-color: #333; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bolder; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; /* Align items to the right */
    align-items: center;
    padding: 0 20px;
  }
  
  .logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 1.8em;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    color:blueviolet;
    /* color:#f9f9f9; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* color: #f3e86d; */
    /* color:#e9d32d; */
    text-decoration: none;
    padding: 10px 15px;
    position: relative; /* Added for sliding bar */
  }
  
  .navbar a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e9d32d; /* Slide bar color */
    transition: width 0.3s; 
    /* Slide bar animation */
    
  }
  
  .navbar a:hover:before {
    width: 100%;
  } 
  
  
  .nav-links a:active {
    font-weight: bold; /* Example style */
    /* color: #333; Example style */
    /* Add more styles as needed */
    /* background-color: #595959; */
  }
  
  
  .active,
  .home-button {
    /* background-color: #595959; */
  background-color: transparent;
  }
  
  .login {
    background-color: #e9d32d;
    border: none;
    border-radius: 50px;
    /* color: shiny black; */
    color: blueviolet;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .login:hover {
    background-color: #e9d32d;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      /* flex-direction: row; */
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 10px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  }
  
  
  /* home page explore services */
  .hero {
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h1 {
    font-family: 'YourCursiveFont', cursive;
    font-size: 36px;
    color: #fff;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    /* background-color: #333; */
    border:#fff  solid;
    color: #fff;
    /* background-color: beige; */
    text-decoration: none;
    /* border-radius: 5px; */
  }
  
  /* services css */
  main {
    padding-top: 80px; /* Adjust based on header height */
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
 
  .services-container{
    padding: 10px 20px;
    text-align: left;
    animation: slideIn 1s ease-in-out;
  }
  
  .services-container h1{
    font-size: 40px;
    text-align: center;
    padding:15px;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
  }
  .services-container h2{
    color:azure;
   
  }
  #services,
      #process,
      #gallery
       {
        margin: 30px auto;
        max-width: 800px;
        padding: 0 20px;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: ivory;
      }
  
      .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 5px;
      }
      
      .gallery-item {
        position: relative;
      }
      
      .gallery-item img {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        border-radius: 8px;
      }
      
      /* Example of different sizes */
      .gallery-item:nth-child(2n) {
        grid-row-end: span 2;
        width:100%;
      }
      
      .gallery-item:nth-child(3n) {
        grid-column-end: span 2;
        width: 40%;
      }
      .gallery-item:nth-child(4n) {
        grid-row-start: span 2;
        width:100%;
  
      }
      
  
  /* about container */
  .content-container {
    animation: slideIn 1s ease-in-out;
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
  }
  .content-container h1{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding:15px;
    font-family: 'Courier New', Courier, monospace;
  }
  .content-container h2{
    text-decoration: underline;
  }
  .content-container p{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
  }
  .about-line{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-overflow: ellipsis;
    animation: slideDown 1s forwards;
    color: #fff;
  }
  #about {
    max-width: 800px;
    margin: 0 auto;
  }
  /* about container ends */
  
  
  .card {
    display: inline-block;
    width: 300px;
    height:650px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-in-out; /* Apply the animation */
    background-color: #f9f9f9;
  }
  #cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;
    gap:20px;
  }
   .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    /* Ensure the container takes the full height of the viewport */
    gap: 0px;
    /* background-color: #f9f9f9; */
   } 
  
  .card img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ensure the image covers the entire space */
    object-position: center; /* Center the image */
    /* border-radius: 8px 8px 0 0; */
  }
  
  .card-container h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .card-container p {
    margin-bottom: 0;
    text-align: center;
    padding:10px ;
  }
  
  
  /* Add this CSS to your existing styles */
  @keyframes slideIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* CSS for card animation */
  
  
  .explore-btn {
    background-color:white;
    /* color: #fff; */
    color:black;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .explore-btn:hover {
    background-color:shiny black;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px); /* 50% width with 20px gap */
    }
  }
  
  
  
  footer {
    /* position: absolute;  */
    position: relative;
    margin-bottom: auto;
    /* background-color: #333; */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    width: 100%;
   }
  
   /* style explore pages */